@charset "ISO-8859-1";

	#canvas{
		width: 100%;
		height: 50%;
		position: absolute;
		top: 0;
		background-color: white;
	}

	#remoteVideo{
		width: 50%;
		height: 50%;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: blue;
	}
	
	video {
      width: 50%;
      height: 50%;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: red;
    }
	
	
	#remoteVideo{
		z-index: 0;
	}
	
	#canvas {
		z-index: 5;
	}
    
	#remote {
      background-color: white;
      height: 200px;
      position: relative;
      bottom: 15%;
	  left: 60%;
      width: 290px;
	 }
	